<Html>
<Head>
<Title>Java Example</Title>
</Head>

<Body>
This is my page<br>
Below you see an applet<br>
<br>

<!--
<OBJECT classid="clsid:CAFEEFAC-0014-0002-0000-ABCDEFFEDCBA"
    width="200" height="200" align="baseline" 
    >
    <PARAM name="code" value="HelloWorld.class">
    <PARAM name="codebase" value="html/">
    <PARAM name="type" value="application/x-java-applet">
    <PARAM name="model" value="models/HyaluronicAcid.xyz">
    <PARAM name="scriptable" value="true">
        No Java 2 SDK, Standard Edition v 1.4.2 support for APPLET!!
</OBJECT>

codebase="http://java.sun.com/products/plugin/autodl/jinstall-1_4_2-windows-i586.cab#Version=1,4,2,0"
-->

<script src="http://www.java.com/js/deployJava.js"></script> 
<script> 
        var attributes = { code:'HelloWorld.class', archive:'dsigcollector-applet-1.0.jar',  width:500, height:200} ; 
        var parameters = {} ; 
        deployJava.runApplet(attributes, parameters, '1.6'); 
</script> 

<ul>
	<li>dokument k podepsani:</li>
	<li>klic:</li>
	<li>podepsat: </li>
	<li>podpis:</li>
	<li>send: </li>
	
</ul>

<noscript> 
A browser with JavaScript enabled is required for this page to operate properly.
</noscript> 





</Body>
</Html>